@import "tailwindcss";

@theme {
  --color-bright-blue: hsl(220, 98%, 61%);
  --color-gradient-1: hsl(192, 100%, 67%);
  --color-gradient-2: hsl(280, 87%, 65%);

  /*light theme*/
  --color-very-light-gray: hsl(0, 0%, 98%);
  --color-very-light-grayish-blue: hsl(236, 33%, 92%);
  --color-light-grayish-blue: hsl(233, 11%, 84%);
  --color-dark-grayish-blue: hsl(236, 9%, 61%);
  --color-very-dark-grayish-blue: hsl(235, 19%, 35%);

  /*dark theme*/
  --color-very-dark-blue: hsl(235, 21%, 11%);
  --color-dark-desaturated-blue: hsl(235, 24%, 19%);
  --color-grayish-blue: hsl(234, 39%, 85%);
  --color-grayish-blue-hover: hsl(236, 33%, 92%);
  --color-dark-grayish-blue: hsl(234, 11%, 52%);
  --color-very-dark-grayish-blue: hsl(233, 14%, 35%);
  --color-very-very-dark-grayish-blue: hsl(237, 14%, 26%);
}

@layer components {
  .font-family-josefin {
    font-family:
      Josefin Sans,
      "sans serif";
  }

  .backgroun-image {
    background-image: url("./images/bg-desktop-light.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .scrollbar {
    scrollbar-width: thin;
  }
}
